header {
    background-color: purple;
    color: white;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.article-card {
  border: 2px solid tomato;
  list-style-type: none;
  margin: 1em;
  padding: 1em;
}
