header {
  background-color: purple;
  color: white;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link {
  background-color: white;
  color: purple;
  border: 1px solid white;
  border-radius: 12px;
  padding: 1em;
}

.article-card {
  border: 2px solid tomato;
  list-style-type: none;
  margin: 1em;
  padding: 1em;
}

.article-card img {
  width: 100%;
}
