#root {
  max-width: 1280px;
  min-width: 350px;
}

header {
  background-color: purple;
  color: white;
}

header p {
  text-align: right;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link {
  background-color: white;
  color: purple;
  border: 1px solid white;
  border-radius: 12px;
  padding: 1em;
}

.article-card {
  width: 80%;
  border: 2px solid tomato;
  border-radius: 5px;
  list-style-type: none;
  margin: 1em;
  padding: 1em;
}

.article-card img {
  width: 100%;
}

.single-article {
  width: 80%;
  border: 2px solid purple;
  border-radius: 5px;
  margin: 2em;
  padding: 1em;
}

.single-article img {
  width: 100%;
}

.comment-list ul {
  padding-left: 2em;
  padding-right: 1em;
}

.comment-card {
  width: 80%;
  border: 2px dotted darkblue;
  border-radius: 5px;
  margin: 1em;
  padding-left: 1em;
}

.comment-form {
  padding-left: 3em;
}

#new-comment {
  width: 50%;
  height: 25px;
}

.article-vote {
  margin: 1em;
}

.submit-button {
  margin: 1em;
}

